<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name=".MoidotApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moidot"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="${MANIFEST_KAKAO_NATIVE_APP_KEY}" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kakao${MANIFEST_KAKAO_NATIVE_APP_KEY}" />
                <data android:host="oauth" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.splash.view.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".util.deeplink.SchemeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="kakao${MANIFEST_KAKAO_NATIVE_APP_KEY}" />
                <data android:host="kakaolink" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".presentation.onboard.view.OnboardActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.sign.view.SignInActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.join.create.view.CreateGroupActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.join.participate.view.ParticipateGroupActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.space.leader.LeaderSpaceActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.space.leader.vote.create.CreateVoteActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.space.leader.info.edit.view.EditGroupNameActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.space.member.MemberSpaceActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.group.space.common.edit.view.EditMyGroupInfoActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.main.mypage.setting.view.SettingActivity"
            android:exported="false"
            android:theme="@style/Gray800.Theme.Moidot" />

        <activity
            android:name=".presentation.main.mypage.alarm.view.AlarmActivity"
            android:exported="false"
            android:theme="@style/Gray800.Theme.Moidot" />
    </application>

</manifest>